:root{
    --main-color: #09637E;
    --secondary-color:  #EBF4F6;
    --bg-color-content: #f5f5f5;
    --border-radius-block: 14px;
}

@font-face {
    font-family: 'Facon';
    src: url(../FONTS/Facon.ttf);
}

@font-face {
    font-family: 'Poppin';
    src: url(../FONTS/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../FONTS/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Ubuntu' ;
    src: url(../FONTS/Ubuntu-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.body{
    background-color: var(--bg-color-content);
}

.content1{
    display: none;
    opacity: 0;
}

.show{
    display: block;
    opacity: 1;
}

.hide{
    display: none;
}

body{
    min-height: 90vh;
}

/* Sidebar */
.sidebar{
    width: 345px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-color);
}
.sidebar-logo {
    height: 70px;
    padding: 1rem 0rem 1rem 2rem;
    /* background-color: black; */
}
.sidebar-logo .companyLogo{
    width: 45px;
    padding-right: 5px;
}
.sidebar-logo h2{
    display: inline;
    color: var(--secondary-color);
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
}
.style-li{
    color: blue;
    padding: 0;
}
.sidebar-menu{
    margin-top: 30px;
}

.sidebar-menu a{
    display: block;
    font-size: 1.2rem;
    padding-left: 1rem;
    text-decoration: none;
}
.link_style{
    color: var(--secondary-color);
    cursor: pointer;
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem; */

}
.sidebar-menu a.active{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--secondary-color);
    color: var(--main-color);
    border-radius: 30px 0 0 30px;
    
}
.sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}

/* Main Content */  
.main-content{
    z-index: 999;
    margin-left: 345px;
}
header{
    position: fixed;
    top: 0;
    left: 345px;
    width: calc(100%-345px);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 70px;
    background-color: white;
    z-index: 999;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.04);
}

.header-title label{
    cursor: pointer;
}


.search-wrapper{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 40px;
    overflow-x: hidden;

}
.search-wrapper i{
    padding: 0rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.search-wrapper input{
    height: 100%;
    padding:  .5rem;
    border: none;
    outline: none;
}
.user-wrapper{
    display: flex;
    align-items: center;
    padding-right: 0px;
    margin: 0;
    
    /* background-color: rgb(13, 95, 236); */
}

.user-wrapper img{
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    /* margin-right: 1rem; */
}
.user-wrapper h4{
    font-size: 1rem;
}
.user-wrapper small{
    font-size: 1rem;
    display: inline-block;
}

/* Main */
.content1{
    margin-top: 60px;
    margin-left: 345px;
    padding: 2rem 1.5rem;
    background-color: var(--bg-color-content);
}
.category-content{
    gap: 1.5rem;
    justify-content: center;
}

.cate1{
    display: flex;
    /* width: 272px; */
    width: 100%;
    /* gap: 70px; */
    gap: 90px;
    padding: 16px 24px;

    /* justify-content: space-between; */
    align-items: center;
    /* background-color: rgb(111, 111, 228); */
    background: linear-gradient(#0992C2,#AA2EE6);
    border-radius: var(--border-radius-block);
}

.adv{
    z-index: 10;
}


.info-bottom{
    margin-top: 1.5rem;
    gap: 1rem;
}

.BalAndExp{
    gap: 1rem;
    height: 280px;
    margin-bottom: 23px;
}

.balanceBlock{
    width: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 15px;
    border-radius: var(--border-radius-block);
    
}
.expenseBlock{
    width: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: var(--border-radius-block);

}
.expenseBlock p{
    font-weight: bold;
}

.bal-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF7CD;
    width: 80px;
    border-radius: 6px;
    padding: 3px;
}

.right-block{
    width: 450px;
    border-radius: var(--border-radius-block);
    background-color: white;
    flex-shrink: 0;
}

.chart-img{
    width: 13rem;
}


/* Right Block */
.header-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}
.logo-card{
    margin: 0 1.5rem;
    border-radius: 20px;
    /* background: linear-gradient(blue,rgb(102, 102, 222)); */
    background: linear-gradient(#0992C2,#AA2EE6);

}

.top-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem 0 1.5rem;
    font-family: 'Poppin';
    font-weight: bold;
}
.top-card img{
    width: 70px;
}

.middle-card{
    font-family: 'Roboto';
    padding: 1.5rem;
    font-size: 50px;
}

.bottom-card{
    font-family: 'Poppin';
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem 1rem 1.5rem;
}

.recent-acti-block{
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.profile-acti{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
}

.profile-block{
    display: flex;
    justify-content: space-between;
}

.left{
    display: flex;
}
.logo-profile{
    /* padding: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border: solid 1px #7AB2B2;
    border-radius: 14px;
    margin-right: 10px;
}

.logo-profile img{
    width: 40px;
    /* border-radius: 50%; */
    /* padding: 1rem; */

}




/* Content Product */
.header-product{
    align-items: center;
    /* gap: 3rem; */
    justify-content: space-between;
}

.header-product-left{
    gap: 4rem;
    /* width: 1000px; */
}

.header-product-left span{
    font-size: 30px;
    font-family: 'Poppin';
    font-weight: bold;
    
}

.search-wrappers{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 40px;
    overflow-x: hidden;
}

.search-wrappers i{
    padding: 0rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.search-wrappers input{
    height: 100%;
    padding:  .5rem;
    border: none;
    outline: none;
    width: 300px;
}

.header-product-right{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.add-product{
    background-color: #7AB2B2;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
}
.add-product:hover{
    background-color: #acd7d7;

}

.status-all{
    padding: 0.4rem 1rem;
    border: solid 1px;
    border-radius: 6px;
    border-color: rgb(160, 160, 160);
}

.add-content{
    position: absolute;
    text-align: center;
    top: 10%;
    width: 450px;
    left: 40%;
    background-color: var(--main-color);
    padding: 2rem;
    border-radius: 13px;
    z-index: 999;
}

.label-addProduct{
    font-size: 35px;
    color: white;
    font-weight: bold;
}

.group-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.group-input input, select{
    height: 50px;
}
.group-header{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    padding-bottom: 15px;
}

.group-header i{
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.addContent{
    display: none;
}












/* Show and Hide For Content and for using Javascript */