.containers{
    width: 100%;
    height: 100vh;
    display: flex;
}
.left-side{
    width: 8%;
    background-color: #09637E;
}
.logo img{
    width: 30%;
}
.right-side{
    width: 92%;
    background-color: #EBF4F6;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    background-color: white;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-container{
    width: auto;
    display: flex;
    border: solid black 1px;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
}
.search{
    height: 30px;
    border: none;
}
.search-input{
    padding-left:30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.search-icon{
    padding-right: 30px;
}
.account{
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-image{
    padding: 0;
    margin: 0;
    width: 35px;
}
.account-image img{
    width: 100%;
    border-radius: 50%;
}

