:root{
    --main-color: #09637E;
    --secondary-color:  #EBF4F6;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/* Sidebar */
.sidebar{
    width: 345px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-color);
}
.sidebar-logo {
    height: 70px;
    padding: 1rem 0rem 1rem 2rem;
    /* background-color: black; */
}
.sidebar-logo .companyLogo{
    width: 45px;
    padding-right: 5px;
}
.sidebar-logo h2{
    display: inline;
    color: var(--secondary-color);
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
}
.style-li{
    color: blue;
    padding: 0;
}
.sidebar-menu a{
    display: block;
    color: var(--secondary-color);
    font-size: 1.2rem;
    padding-left: 1rem;
    text-decoration: none;
}
.sidebar-menu a.active{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: var(--secondary-color);
    color: var(--main-color);
    border-radius: 30px 0 0 30px;
    
}
.sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}

/* Main Content */  
.main-content{
    margin-left: 345px;
}
header{
    position: fixed;
    left: 345px;
    width: calc(100%-345px);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 70px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.04);
}


.search-wrapper{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 40px;
    overflow-x: hidden;

}
.search-wrapper i{
    padding: 0rem 1rem;
    font-size: 1.5rem;
}
.search-wrapper input{
    height: 100%;
    padding:  .5rem;
    border: none;
    outline: none;
}
.user-wrapper{
    display: flex;
    align-items: center;
    padding-right: 0px;
    margin: 0;
    
    /* background-color: rgb(13, 95, 236); */
}

.user-wrapper img{
    border-radius: 50%;
    padding: 10px;
    /* margin-right: 1rem; */
}
.user-wrapper h4{
    font-size: 1rem;
}
.user-wrapper small{
    font-size: 1rem;
    display: inline-block;
}

/* Main */
main{
    margin-top: 90px;
    padding: 2rem 1.5rem;
    background-color: var(--secondary-color);
}