<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <!-- Link CSS -->
    <link rel="stylesheet" href="../CSS/style.css">

     <!-- Link Boostrap -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

      <!-- Link to Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

    <!-- Link to LineAwesome -->
    <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >

</head>
<body>
    <div class="sidebar" id="sideBar">
        <div class="sidebar-logo">
            <h2><img src="../Images/Logo/Logo_White.png" class="companyLogo "><span id="companyName">Te Chyuy</span></h2>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="" class="active">
                        <span><i class="las la-tachometer-alt"></i></span>
                        <span class="listName">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span><i class="las la-box"></i></span>
                        <span class="listName">Product</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span><i class="las la-layer-group"></i></span>
                        <span class="listName">Categories</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span><i class="las la-shopping-cart"></i></span>
                        <span class="listName">Orders</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span><i class="las la-user-circle"></i></span>
                        <span class="listName">Users</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span><i class="las la-cog"></i></span>
                        <span class="listName">Setting</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <div class="header-title">
                <h2>
                    <label for="Bar" >
                        <i class="fa-solid fa-bars" id="barIcon"></i>
                    </label>
                    Dashboard
                </h2>
            </div>

            <div class="search-wrapper">
                <i class="las la-search"></i>
                <input type="search" placeholder="Search here">
            </div>

            <div class="user-wrapper col-2">
                <div class="col-4">
                    <img src="../Images/YT_Profile.png" class="img-fluid">
                </div>
                <div>
                    <h4>Te Chyuy</h4>
                    <small>Admin</small>
                </div>
            </div>
        </header>
    </div>
</body>

<!-- Link Javascript -->
 <script src="JS/index.js"></script>

<!-- Link boostrap javascript -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</html>